.image-popup {
  position: fixed;
  top: 12.5%;
  left: 18.125%;
  right: 18.125%;
  bottom: 9.44%;
  max-width: 75vw;
  max-height: 75vh;
  box-sizing: border-box;
  margin: 0px 0px 0px 0px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.image-popup_active {
  visibility: visible;
  transition: visibility 0s, opacity 0.3s linear;
  opacity: 1;
}

@media screen and (max-width: 750px) {
  .image-popup {
    top: 23.94%;
    left: 12.5%;
    right: 12.5%;
    bottom: 19.54%;
    min-width: 240px;
  }
}