.profile__edit-form-submit {
  width: 83.25%;
  height: 50px;
  border: none;
  background-image: url('../../../images/submit-button.svg');
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin: 0px auto 0px;
}

.profile__edit-form-submit:hover {
  background-image: url('../../../images/submit-button-hover.svg');
}

@media screen and (max-width: 750px) {
  .profile__edit-form-submit {
    width: 88.125%;
    height: 46px;
    margin: 0px auto 25px;
  }
}