.header__logo {
    width: 11.09%;
}

@media screen and (max-width:750px) {
    .header__logo {
        margin-left: 8.44%;
    }
}

@media screen and (max-width:425px) {
    .header__logo {
        width: 32.42%;
    }
}