.header {
  display: flex;
  flex-direction: column;
  width: 68.75%;
  gap: 41px;
  margin: 3.52% auto 3.125%;
}

@media screen and (max-width: 750px) {
  .header {
    width: 100%;
    gap: 31.6px;
    margin: 8.75% auto 13.125%;
  }
}