.profile__block {
  width: 82.95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 950px) {
  .profile__block {
    flex-direction: column;
    margin: 26px auto 0px;
  }
}

@media screen and (max-width: 650px) {
  .profile__block {
    width: 282px;
  }
}