.elements {
  margin: 0px auto 0px;
  width: 68.75%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 17px;
  row-gap: 20px;
}

@media screen and (max-width: 1100px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 750px) {
  .elements {
    width: 88.125%;
    grid-template-columns: repeat(1, 1fr);
  }
}