.footer__copyright {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgb(83, 83, 83);
}

@media screen and (max-width: 425px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}