.profile__first-line {
  margin: 0px auto 0px;
  display: flex;
  flex-direction: row;
  max-width: 336px;
  gap: 18px;
}

@media screen and (max-width: 950px) {
  .profile__first-line {
    gap: 10px;
  }
}

@media screen and (max-width: 450px) {
  .profile__first-line {
    max-width: 282px;
    margin: 0px auto 0px;
  }
}