.add-form__text {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  margin: 0px auto 34px;
  width: 83.25%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 950px) {
  .add-form__text {
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 750px) {
  .add-form__text {
    margin: 25px auto 75px;
  }
}