.element__like-button {
  width: 22px;
  height: 19px;
  align-self: center;
  background-color: white;
  background-image: url('../../../images/like-button.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  transition: opacity 0.2s linear;
  z-index: 5;
}

.element__like-button:hover {
  opacity: 60%;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.element__like-button_active {
  background-image: url('../../../images/like-button-active.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  opacity: 1;
}

.element__like-button_active:hover {
  opacity: 1;
}