.profile__edit-form-close-icon {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  border: none;
  background-color: black;
  background-image: url('../../../images/close-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.profile__edit-form-close-icon:hover {
  background-image: url('../../../images/close-icon-hover.svg');
}

@media screen and (max-width: 750px) {
  .profile__edit-form-close-icon {
    right: 0px;
  }
}